@media screen and (min-width:220px) and (max-width:480px){
    ul{
    list-style: none;
    margin-right: auto;
}
.history{
    margin-top:40px;
    font-size:20px;

}
.list-order{
    
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    color:black;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hr{
    color:grey;
   
}

}


    ul{
    list-style: none;
}
.history{
    margin-top:60px;
    font-size:20px;

}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:60px;
}
.list-order{
     display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    color:black;

}
.text{
    color:rgb(85, 83, 83);
}
.text-it{
    color:grey;
}
.history-bg{
  height:100vh;
  margin-top:30px ;
  overflow-y:auto;
  overflow-x: hidden;
  position:relative;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.history-bg::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
