.login-cont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.cont-form{
      width:50vh;
    
   padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
.login-form{
     
    display:flex;
    flex-direction: column;
    box-shadow: rgb(4, 4, 4);
    padding:30px;
    justify-content: space-around;
}
.img-icon{
    height:40px;
    width:50px;
    margin:0px;
    
}
.dragon{
    color:orange;
    font-size: 27px;;
    font-weight: bold;
    margin:0px;
    margin-bottom:10px;
}
.int{
    width:100%;
    border: 1px solid grey;
    border-radius: 7px;
    outline: none;
    height:37px;
    margin-bottom: 10px;
    padding:7px;
    border-color:rgba(187, 183, 183, 0.968);
}
label{
    color:rgb(159, 156, 156);
    font-size: 13px;
    margin-bottom: 2px;
}
h3{
    color:orange;
    text-align: center;
    column-gap: none;
    margin:0px;
}
.login-but{
   width:100%;
   border:none;
   background-color: orange;
   color:white;
   outline-color:orange;
   margin-top:10px;
   height:35px;
   cursor: pointer;
   border-radius: 7px;
}
p{
    color:red;
}
.reges{
    margin:0px;
    color:grey;
}
@media screen and (max-width:480px){
 
.login-but{
   width:100%;
   border:none;
   background-color: orange;
   border:none;
   color:white;
   height:40px;
   margin-top:10px;
   height:30px;
   cursor: pointer;
   border-radius: 4px;
}
.dragon{
    color:orange;
    font-weight: bold;
    font-size:24px;
}
.img{
    height:50px;
    width:50px;
       
}
.cont-form{
    width:40vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
}