.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   padding: 30px;
 
   font-family: "Segoe UI", sans-serif;
 
}
.imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 90%;
    max-width: 700px;
    border-radius: 12px;
}
.thumbnail-image {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
.listed{
     display: inline-block;
}

.list{
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 12px;
  list-style: none; 
}
.thumbnail-image:hover {
  opacity: 1;
  transform: scale(1.05);
}

.thumbnail-image.selected {
  opacity: 4;
  border-color: #1e90ff;
}