.bg{
    background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
    background-size: cover;
    height:100vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont{
     background-color:#e4ebf3;
    box-shadow:0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    height: 40vh;
    width: 40vh;

}
.generate{
    background-color:#0b69ff ;
    color:white;

}
.num{
    color:#0b69ff ;
}